/* Extra small devices (phones, 600px and down */
@media only screen and (max-width: 600px) {
  body {
    background-color: gray;
    border: 2px blueviolet solid;
  }
}

/* Small devices (portrait tablets & large phones 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color:khaki;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color:tan;
  }
}

/* Larges devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: wheat;
  }
}

/* Extra larges devices (large laptops & desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: whitesmoke;
  }
}